@model Recipients

@{
    ViewData["Title"] = "Add Recipient";
}
<h1>Add Recipient</h1>

@using (@Html.BeginForm("Save", "Recipients", FormMethod.Post, new { @id = "myForm" }))
{
    <div class="container-fluid">
        <div class="form-group">
            <div class="row">
                @Html.TextBoxFor(model => model.EmailAddress, new { @id = "EmailId", @class = "form-control-input col-md-4", @placeholder = "Email Address" })

                @Html.DropDownListFor(model => model.Department, ViewBag.DepartmentList as SelectList, "--select--", new { @class = "form-control-input col-md-2" })
            </div>

            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @id = "emailValidation", @class = "text-danger" })

            <div class="col-md-2">
                <button class="btn btn-warning" style="color:white" asp-action="Recipients"><i class="fa-fw fa fa-arrow-circle-left"></i> Back</button>
                <button type="submit" class="btn btn-success" id="saveButton" name="saveButton" value="Submit">Save</button>
            </div>
        </div>
    </div>
}

<style>
    .pull-left {
        float: left;
    }

    .pull-right {
        float: right;
    }

    .form-control-input {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        margin: 10px !important;
    }
</style>
